body{
	font-family: sans-serif;
}
a{
	text-decoration: none;
}
/* HEADER*/
#header{
	background-color: #2E2E2E;                                                        
}
.logo{
	width:40%;
	height: 40%;
	margin-bottom: 5%;
}
.main>li{
	display: inline-block;
	list-style: none;
	color: white;
	margin-top: 7%;
	margin-left: 3%;
	margin-right: 1%;
	font-size: 13px;
}
.main>li:hover a{
	background: #585858;
}
.main a{
	color: white;
}
/*SECTION*/
#episodes{
	background-color: #E6E6E6;
}
#title-episodes{
	background-color: #E6E6E6;
}
.links{
	color: #045FB4;
	text-decoration: none;
	font-size: 10px;
}
.p-section span{
	color: black;
	font-size: 20px;
	margin-left: 10px;
}
.img-episodes{
	width: 180px;
	height: 180px;
	border:.5px solid gray;
	padding: 1px;
	display: inline-block;
	margin-top: 10px;
}
.principal-section{
	color: #045FB4;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 20px;
}
/*Seccion Grande*/
.img-principal{
	width: 100%;
	height: 100%;
	border:.5px solid gray;
	padding: 1px;
	display: inline-block;
	margin: 20px 2% 2% 2%;
}
#big-section{
	background-color: #ffffff;
}
.p-bigsection{
	color: #045FB4;
	display: inline-block;
	margin: 1px;
	font-size: 10px;
	text-align: center;
}
.big-section div{
	display: inline-block;
}
/*LATERAL SECTION*/
.img-icon{
	width: 100%;
	height: 100%;
}
.section-lateral{
	color: #424242;
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
}
.link-lateral{
	color: #045FB4;
	margin: 1px;
	font-size: 12px;
	text-align: left;
	text-decoration: none;
}
.text-lateral{
	color: #000000;
	margin: 1px;
	font-size: 12px;
	text-align: left;
}
/*FOOTER*/
#footer{
	background:#585858;
}
.read-more{
	color: #bfbfbf;
	font-size: 15px;
	margin-right: 10px;
}
.read-more>li{
	display: inline-block;
	list-style: none;
	margin: auto;
}
.read-more>ul{
	position: relative;
	margin: auto;
}
.cr{
	font-size: 10px;
	color:#b3b3b3 ;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.pfooter{
	color: white;
	margin-bottom: 20px;
	font-size: 14px;
	margin: 25px;
}
.read-more>li:hover a{
	background: #2E2E2E;
}